
MedicalAppointments/obj/Debug/netcoreapp3.1/MedicalAppointments.Views.pdb
MedicalAppointments/obj/Debug/netcoreapp3.1/MedicalAppointments.Views.dll
MedicalAppointments/obj/Debug/netcoreapp3.1/MedicalAppointments.csproj.AssemblyReference.cache
MedicalAppointments/bin/Debug/netcoreapp3.1/MedicalAppointments.Views.pdb
MedicalAppointments/bin/Debug/netcoreapp3.1/MedicalAppointments.Views.dll
MedicalAppointments/.vs/MedicalAppointments/v16/.suo
