@{
    ViewData["Title"] = "Login Page";
}
@if (!User.Identity.IsAuthenticated)
{
<div class="col-md-6 offset-3 alert alert-danger text-center">
    <h7>Please login into your account in order to make an appointment</h7>
</div>
}
<div class="border-top border-bottom text-muted  text-center">
    <h1 class="display-4">Login into the account</h1>
</div>
<div style="color:white">
    <p>as </p>
</div>
<div class="text-muted text-left">
    <form action="" method="post" name="registration" class="register">
        <table>
            <tr>
                <td align="left" for="email"> Email </td>
                <td align="left"><input name="email" /></td>
            </tr>
            <tr>
                <td align="left" for="password"> Password </td>
                <td align="left"><input name="passord" /></td>
            </tr>
        </table>
    </form>
</div>
<div style="color:white">
    <p>as </p>
</div>
<div class="text-left">
    <button name="loginButton" style="border: 3px solid #009999" class="btn btn-default" type="submit" onclick="">
        Login
    </button>
</div>
<div style="color:white">
    <p>as </p>
    <p> as</p>
    <p>asqw </p>
</div>
<div class="text-right">
    <fieldset>
        <label for="email"> No account?</label>
         <a style="color: #004d4d" asp-controller="Pacients" asp-action="Create">Create one now!</a>
        @*<button name="registerButton" style="border: 3px solid #009999" class="btn btn-default" type="submit" onclick="window.location.href ='@Url.Action("Register", "Register")'"> 
            Create account
        </button>*@
    </fieldset>
</div>

