@{
    ViewData["Title"] = "Frequently asked questions";
}
<h1>@ViewData["Title"]</h1>

<div>
    <strong>
        What is the relationship between eating healthily and calories?
    </strong>
    <br />
    <p>
        The fundamental principle to a healthy diet comes down to one word; balance. Many other factors are included to ensure a balanced diet, but essentially eating enough food that provides the range of nutrients your body requires encourages the promotion of good health. It is important to ensure this variety of foods, guaranteeing a broad range of the nutrients, vitamins and minerals that your body needs. When you are receiving too little or too much of certain elements, this can result in health problems. That is why moderation and control of your diet is important. For example, fats are a necessary part of your diet, but when they exceed the body’s required amount, it can be stored in the body, potentially causing problems, most importantly cardiovascular issues.
    </p>
    <br />

    <strong>
        Are foods that contain sugar unhealthy?
    </strong>
    <br />
    <p>Calories are your body’s source of fuel. We need to refuel our energy supply by eating food, yet many diets have branded calories as our enemy for weight, yet calories are a necessary part of our lives. A regular man should aim for around 2500 calories, and a woman around 2,000 calories per day for a healthy diet, unless trying to lose weight. Generally high calorie foods indicate a higher amount of salt, sugars or fat, yet some foods that are naturally high in calories are a useful, nutritious inclusion to a healthy diet. Corn, nuts, avocados, olive oil, and whole grain breads are all calorie-rich but beneficial foods, providing a variety of nutrients needed in your diet and also provide long lasting satisfaction to other healthy foods that fail to fill you up. </p>
    <br/>

    <strong>
        I was recently diagnosed with diabetes/heart disease/celiac disease/lactose intolerance, and I noticed that your website does not have special dietary information for my disease. Can you please advise me about how to eat a healthy diet with my disease?
    </strong>
    <br/>
    <p>
        Thank you very much for your interest in The Nutrition Source. We appreciate your concerns about your diet, and we aim to update the website with diet information for the general public as frequently as possible. However, we are unable to provide personal nutrition advice. If you would like to contact a licensed nutrition professional to obtain such advice, the Academy of Nutrition and Dietetics lists registered dietitians on its website.
    </p>
</div>
