@{
    ViewData["Title"] = "Admin page";
}

<div class="border-top border-bottom text-muted  text-center">
    <h1 class="display-4">Administrator</h1>
</div>

<br/>
<br />
<br />
<form method="post" name="registration" class="register" asp-controller="Login" asp-action="LogoutAdmin">

    <div>
        <input type="submit" value="Logout" class="btn btn-danger"/>
    </div>
</form>
